.login-or-signup1 {
  position: absolute;
  top: 86px;
  left: 74px;
  display: inline-block;
  white-space: pre-wrap;
  width: 180px;
}
.name1 {
  width: 83px;
  height: 23px;
}
.divyanshi-vishwakarma,
.name1,
.text3 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.text3 {
  width: 38px;
  height: 23px;
  margin-left: -18px;
}
.divyanshi-vishwakarma {
  width: 206px;
  height: 37px;
}
.divyanshi-vishwakarma-wrapper,
.property-1filling-with-cursor1 {
  width: 262px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divyanshi-vishwakarma-wrapper {
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 45px;
  flex-direction: column;
  padding: var(--padding-3xs);
  margin-left: -18px;
}
.property-1filling-with-cursor1 {
  position: absolute;
  top: 6px;
  left: 20px;
  height: 98px;
  flex-direction: row;
  flex-wrap: wrap;
}
.div4,
.phone-number1 {
  width: 148px;
  position: relative;
  display: inline-block;
  height: 23px;
  flex-shrink: 0;
}
.div4 {
  width: 183px;
  height: 25px;
}
.property-1variant4-property1 {
  position: absolute;
  top: 236px;
  left: 20px;
  width: 262px;
  height: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.divyanshi2022gmailcom {
  width: 238px;
  position: relative;
  display: inline-block;
  height: 22px;
  flex-shrink: 0;
}
.property-1default-property-21 {
  position: absolute;
  top: 118px;
  left: 20px;
  width: 262px;
  height: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.ashtha-sehore {
  width: 252px;
  position: relative;
  display: inline-block;
  height: 19px;
  flex-shrink: 0;
}
.property-1variant3-property1 {
  position: absolute;
  top: 354px;
  left: 20px;
  width: 262px;
  height: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1filling-with-cursor-group {
  position: absolute;
  top: 115px;
  left: 9px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 302px;
  height: 472px;
  overflow: hidden;
  text-align: left;
  font-family: var(--font-inknut-antiqua);
}
.login-or-signup-group {
  position: absolute;
  top: 99px;
  left: 22px;
  border-radius: var(--br-xl);
  border: 1px solid var(--m3-ref-neutral-neutral0);
  box-sizing: border-box;
  width: 321px;
  height: 643px;
  overflow: hidden;
}
.image-5-icon1 {
  position: absolute;
  top: 27px;
  left: 74px;
  width: 205px;
  height: 159px;
  object-fit: cover;
}
.login1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--m3-ref-neutral-neutral0);
  font-family: var(--font-hepta-slab);
}
