.image-2-icon {
  position: absolute;
  top: 205px;
  left: -120px;
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.splash-screen6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 800px;
  overflow: hidden;
  cursor: pointer;
}
