.group-child68,
.group-child69 {
  position: absolute;
  top: 566px;
  left: 198px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 38px;
  height: 33px;
}
.group-child69 {
  left: 100px;
}
.group-child70 {
  position: absolute;
  top: 755px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--m3-ref-neutral-neutral0);
  box-sizing: border-box;
  width: 360px;
  height: 46px;
}
.group-child71 {
  position: absolute;
  top: 705px;
  left: 187px;
  background-color: var(--color-red);
  width: 163px;
  height: 32px;
}
.try-on4 {
  position: absolute;
  top: 651px;
  left: 287px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inknut-antiqua);
}
.add-to-bag7 {
  position: absolute;
  top: 717px;
  left: 222px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 101px;
  height: 9px;
}
.group-child72 {
  position: absolute;
  top: 705px;
  left: 12px;
  background-color: var(--color-white);
  border: 1px solid var(--m3-ref-neutral-neutral0);
  box-sizing: border-box;
  width: 163px;
  height: 32px;
}
.home9 {
  position: absolute;
  top: 770px;
  left: 7px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 74px;
  height: 19px;
}
.group-child73,
.group-child74 {
  position: absolute;
  top: 567px;
  left: 147px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 38px;
  height: 33px;
}
.group-child74 {
  top: 565px;
  left: 249px;
}
.xl7 {
  top: 566px;
  left: 255px;
  display: inline-block;
  width: 35px;
  height: 14px;
}
.off4,
.s6,
.xl7 {
  position: absolute;
}
.off4 {
  top: 658px;
  left: 109px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  width: 54px;
}
.s6 {
  top: 567px;
  left: 111px;
  display: inline-block;
  width: 21px;
  height: 14px;
}
.heart-icon16 {
  position: absolute;
  top: 709px;
  left: 100px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.wishlist14 {
  position: absolute;
  top: 714px;
  left: 38px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  width: 90px;
  height: 13px;
}
.harpa-womens-regular4,
.size4 {
  position: absolute;
  top: 569px;
  left: 15px;
  display: inline-block;
  width: 78px;
  height: 24px;
}
.harpa-womens-regular4 {
  top: 484px;
  left: 16px;
  width: 338px;
  height: 29px;
}
.shopping-bag-icon16 {
  position: absolute;
  top: 711px;
  left: 308px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.span4 {
  color: var(--color-gray-200);
}
.div9 {
  position: absolute;
  top: 421px;
  left: 76px;
  text-align: center;
  display: inline-block;
  width: 183px;
  height: 22px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.group-child75 {
  position: absolute;
  top: 134px;
  left: 16px;
  width: 328px;
  height: 287px;
  object-fit: cover;
}
.back-to-main4 {
  position: absolute;
  top: 84px;
  left: 48px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 165px;
  height: 29px;
}
.b4 {
  position: absolute;
  top: 614px;
  left: 20px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 147px;
  height: 30px;
}
.arrow-back-icon4 {
  position: absolute;
  top: 84px;
  left: 18px;
  width: 24px;
  height: 24px;
}
.notifications-icon9,
.shopping-bag-icon17 {
  position: absolute;
  top: 5px;
  left: 201px;
  width: 48px;
  height: 44px;
  overflow: hidden;
}
.shopping-bag-icon17 {
  top: 1px;
  left: 312px;
  height: 48px;
}
.div10 {
  position: absolute;
  top: 647px;
  left: 17px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 83px;
  height: 12px;
}
.group-child76 {
  position: absolute;
  top: 763px;
  left: 307px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 42px;
  height: 37px;
}
.group-child77 {
  position: absolute;
  top: 647px;
  left: 18px;
  width: 82px;
  height: 44px;
  object-fit: contain;
}
.heart-icon17,
.person-icon9 {
  position: absolute;
  top: 766px;
  left: 316px;
  width: 24px;
  height: 24px;
}
.heart-icon17 {
  top: 5px;
  left: 256px;
  width: 49px;
  height: 44px;
  overflow: hidden;
}
.image-4-icon9 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 65px;
  height: 49px;
  object-fit: cover;
}
.l7 {
  position: absolute;
  top: 567px;
  left: 209px;
  display: inline-block;
  width: 21px;
  height: 14px;
}
.chat9,
.image-3-icon9 {
  position: absolute;
  width: 61px;
}
.chat9 {
  top: 771px;
  left: 246px;
  font-size: var(--font-size-base);
  display: inline-block;
  height: 10px;
}
.image-3-icon9 {
  top: 0;
  left: 0;
  height: 49px;
  object-fit: cover;
}
.m6,
.occassion9,
.trending9 {
  position: absolute;
  display: inline-block;
}
.trending9 {
  top: 770px;
  left: 163px;
  font-size: var(--font-size-base);
  width: 77px;
  height: 15px;
}
.m6,
.occassion9 {
  top: 566px;
  left: 154px;
  width: 21px;
  height: 14px;
}
.occassion9 {
  top: 770px;
  left: 69px;
  font-size: var(--font-size-base);
  width: 94px;
  height: 17px;
}
.ellipse-parent4 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 360px;
  height: 801px;
}
.top-opening-page4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 800px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--m3-ref-neutral-neutral0);
  font-family: var(--font-inter);
}
